@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>Satus Music</title>
	<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/allstyles/styles.css" rel="stylesheet" />    
</head>

<body>
    <header>
        <nav>
            <div class="container-fluid">
				<div id="navigation" class="d-flex p-2 mt-2">
                    <p class="fs-5 text-white">Powered by</p>

                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-spotify m-auto ms-2" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.669 11.538a.498.498 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686zm.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858zm.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288z" />
                    </svg>
                    <div id="right-group" class="d-inline-flex justify-content-end">
                        <a href="target_blank" aria-label="view your breakdown" class="me-2">Your Breakdown</a>
                        <a href="target_blank" aria-label="view your artists" class="me-2">Your Artists</a>
                        <a href="target_blank" aria-label="View your genre" class="me-2">Your Genre</a>
                        <a href="target_blank" aria-label="View your globe" class="me-2">Your Map</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
			@RenderBody()
        </div>
        
    </main>
	<script src="~/js/site.js" type="module"></script>
</body>
</html>
