/*Change Nav bar*/

#playlist-header {
    position: relative;

    #playlist-nav {
        height: 5vh;
        background-color: #011621;

        #playlist-nav-container {
            height: 100%;
            border-bottom: solid 3px black;

            #links {
                position: absolute;
                right: 0;
                align-items: center;
                color: white;
            }
        }
    }
}

#library-search {
    color: white;
    background-color: transparent;
    border: none;
}

#playlist-populate {
    height: 61vh;
    background-color: #011621;
    border: solid black 3px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    & .heading {
        flex: 0 0 auto;
        justify-content: space-between;
        align-items: center;
    }
}

#playlists {
    flex: 11 auto;
    overflow-y: auto;
}

.playlist-btn{
    color: white;
    text-decoration: none;

    &:hover {
        color: white;
    }
}

.playlist {
    display: flex;
    align-items: center;
    background-color: rgb(1, 18, 28);
    margin-bottom: 1%;
    padding: 3%;
    border-radius: 15px;
}

#playlist-view-one {
    height: 61vh;
    border: solid black 3px;
    border-radius: 15px;
    background-color: #011621;
    position: relative;
    padding: 0px;
   

    #area-one-default-text{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }

    #playlist-view-body {
        height: 50%;
        width: 100%;


        #playlist-tracks {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0 1rem 1rem 1rem;
            overflow: scroll;
            background-color: rgba(0, 0, 0, 0.1);
            display: none;
        }

        #playlist-heading {
            position: relative;
            z-index: 2;
        }
    }

    #playlist-tracks {
        height: 50%;
        width: 100%;
        overflow: scroll;
        display: none;
        padding: 0 1rem 1rem 1rem;
        position: relative;
        z-index: 2;
    }

    #playlist-image {
        width: 15%;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    #playlist-color-canvas {
        width: 64px;
        height: 64px;
    }

    #playlist-background {
        position: absolute;
        width: 100%;
        height: 0%;
        z-index: 1;
        border-radius: 15px;
    }

    #playlist-description {
        display: flex;
        margin: auto 0 auto 1%;
        flex-direction: column;
        text-align: left;

        #playlist-title {
            font-size: 3rem;
            font-weight: bold;
        }

        #about-playlist {
        }

        #plalist-stats {
            margin-top: 1rem
        }
    }
}



#playlist-view-two-and-three {
    height: 33vh;
    background-color: black;
    border: solid black 3px;
    border-radius: 15px;

    #playlist-view-two {
        background-color: #011621;
        border-right: solid black 3px;
        border-top: solid black 3px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;

        #playlist-view-two-container {
            height: 100%;
            width: 98%;
            align-items: center;
            justify-content: center;

            #area-two-default-text {
                display: block;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #view-heading {
                display: flex;
                align-items: center;
                margin-top: .5rem;

                #view-heading-text {
                    margin: 0rem 0 0rem 1rem;
                }
            }

            #playlist-statistics {
                display: none;
                width: 100%;
                height: 100%;
               
            }

            #edit-playlist-form {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 80%;

                #playlist-image-background {
                    background-color: black;
                    height: 80%;
                    width: 35%;

                    #playlist-image {
                        width: 100%;
                        height: 100%;
                    }
                }

                #input-container {
                    margin-left: 3rem;
                    display: flex;
                    flex-direction: column;
                    font-size: 16px;

                    #playlist-name-input {
                        border-radius: 15px;
                        border: solid white 2px;
                        margin-bottom: 1rem;
                        background-color: black;
                        color: white;
                        padding: .5rem;
                    }

                    #playlist-description-input {
                        border-radius: 15px;
                        border: solid white 2px;
                        background-color: black;
                        color: white;
                        padding: .5rem;
                    }
                }
            }

            #edit-description-form {
                #description-input-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
            }
        }
    }

    #playlist-view-three {
        background-color: #011621;
        border-left: solid black 3px;
        border-top: solid black 3px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
}

#playlist-search {
    width: 30%;
    height: 15%;
    background-color: black;
    border: white solid 2px;
    border-radius: 10px;
    color: white;
    position: absolute;
    left: 65%;
    margin-top: 1%;
    padding-left: .5rem;
    display: none;
}

#library-search-input {
    display: none;
    width: 50%;
    height: 75%;
    border: solid white 2px;
    border-radius: 15px;
    background-color: black;
    padding-left: .5rem;
    color: white
}

::placeholder {
    color: white;
    margin-left: 3%;
}

#playlist-table {
    color: white;
    padding: 2%;
    vertical-align: middle;

    #table-head {
        background: rgba(1,22,33, .8);
        position: sticky;
        top: 0;
    }
}