/*Change Nav bar*/

#playlist-header {
    position: relative;

    #playlist-nav {
        height: 5vh;
        background-color: #011621;

        #playlist-nav-container {
            height: 100%;

            #links {
                position: absolute;
                right: 0;
                align-items: center;
                color: white;
            }
        }
    }
}

#library-search {
    color: white;
    background-color: transparent;
    border: none;
}

#playlist-populate {
    height: 61vh;
    background-color: #011621;
    border-right: solid black 3px;
    border-bottom: solid black 3px;
    border-top: solid black 6px;
    display: flex;
    flex-direction: column;

    & .heading {
        flex: 0 0 auto;
        justify-content: space-between;
    }
}

#playlists {
    flex: 11 auto;
    overflow-y: auto;
}

.playlist-btn{
    color: white;
    text-decoration: none;

    &:hover {
        color: white;
    }
}

.playlist {
    display: flex;
    align-items: center;
    background-color: rgb(1, 18, 28);
    margin-bottom: 1%;
}

#playlist-view-one {
    height: 61vh;
    background-color: #011621;
    border-left: solid black 3px;
    border-bottom: solid black 3px;
    border-top: solid black 6px;
}

#playlist-view-two {
    height: 33vh;
    background-color: #011621;
    border-top: solid black 3px;
}

.playlist-search {
    width: 50%;
    height: 4%;
    background-color: black;
    border: white solid 2px;
    border-radius: 10px;
    color: white;
    
}

::placeholder {
    color: white;
    margin-left: 3%;
}
