:root {
    --site-text-color: white;
    --home-background-color: black;
    --home-canvas-border-color: white;
    --color-0: black;
    --color-1: black;
    --color-2: black;
    --color-3: black;
    --color-4: black;
    --color-5: black;
    --color-6: black;
    --color-7: black;
    --color-8: black;
    --color-9: black;
    --color-10: black;
    --color-11: black;
    --color-12: black;
}
