@{
    Layout = "~/Views/Shared/Shared_layout.cshtml";
}

@section Scripts {
     <script src="~/js/compiledts/Playlist/playlist.js" type="module" > </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" ></script>
   
}

@section Navigation {
    <header id="playlist-header">
        <nav id="playlist-nav">
            <div id="playlist-nav-container" class="d-flex justify-content-between align-items-center">
                <div>
                    <p class="fs-4 ms-3">Playlist Editor</p>
                </div>
                    
                <div id="links">
                    <a href="/Home/Home" aria-label="View Home page." class="btn btn-lg home-nav-btn">Home</a>
                    <a href="/Map/Map" aria-label="View Map page." class="btn btn-lg map-nav-btn">Map</a>
                </div>
            </div>
        </nav>
    </header>
}

<section>
   
    <div class="row m-0">
        <div class="col-4" id="playlist-populate">
            <div class="d-flex heading">
                <p class="fs-2 ms-2">Your Library</p>
                <button id="library-search"><i class="bi bi-search fs-5"></i></button>
                <input id="library-search-input" placeholder="Search" />
            </div>
            
            <div id="playlists">
              
            </div>
        </div>
        <div class="col-8" id="playlist-view-one">  
            <p id="area-one-default-text">Drag and drop a playlist</p>
            <div id="playlist-background"></div>
            <div id="playlist-view-body">
                <div class="d-flex" id="playlist-heading">
                    <input id="playlist-search" placeholder="Search" />
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" id="playlist-image" />
                    <canvas id="playlist-color-canvas" class="d-none"></canvas>
                    <div id="playlist-description">
                        <p id="playlist-title"></p>
                        <p id="about-playlist"></p>
                        <div id="playlist-stats">
                            <p><span id="playlist-owner"></span> <span id="num-tracks"></span> <span id="playlist-duration"></span></p>
                        </div>
                    </div>
                    
                </div>
               
            </div>
            <div class="" id="playlist-tracks">
                <table id="playlist-table" class="table">
                    <thead id="table-head">
                        <tr >
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Album</th>
                            <th scope="col" width="20%">Date Added</th>
                            <th scope="col">Duration</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <div class="row m-0" id="playlist-view-two-and-three">
        <div class="col-4" id="playlist-view-two">
            <div class="row" id="playlist-view-two-container">
                <p id="area-two-default-text">Populates once playlist is selected</p>
            @*     <div class="col-12" id="view-heading">
                    <p id="view-heading-text" class="fs-2">edit playlist</p>
                </div>
                <form id="edit-playlist-form" class="row">

                    <div id="playlist-image-background" class="col-6">
                        <img src="" id="playlist-image" />
                    </div>
                    <div id="input-container" class="col-6">
                        <input type="text" id="playlist-name-input" placeholder="playlist name"/>

                        <textarea id="playlist-description-input" placeholder="playlist description"/>
                    </div>
                   
                </form> *@
                <canvas id="playlist-statistics" style="display: none;"></canvas>
            </div>
            
        </div>
        <div class="col-8" id="playlist-view-three">
            
            <p id="area-three-default-text">Drag and drop a track</p>

        </div>
    </div>
</section>