/*Marvel Is Better Than DC*/
:root {
  --site-text-color: white;
  --home-background-color: black;
  --home-canvas-border-color: white;
  --color-0: black;
  --color-1: black;
  --color-2: black;
  --color-3: black;
  --color-4: black;
  --color-5: black;
  --color-6: black;
  --color-7: black;
  --color-8: black;
  --color-9: black;
  --color-10: black;
  --color-11: black;
  --color-12: black;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  background-color: #011621;
  color: var(--site-text-color);
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Times New Roman", Times, serif;
}
body p {
  margin: 0;
}
body ::-webkit-scrollbar {
  display: none;
}

header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

#navigation {
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
}
#navigation svg {
  fill: white;
}
#navigation #start-group {
  color: white;
  border-radius: 20px;
  align-items: center;
  position: absolute;
  left: 1%;
}
#navigation #middle-group {
  background-color: rgba(209, 214, 201, 0.3);
  border-radius: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
#navigation #middle-group a {
  text-decoration: none;
  color: white;
  border-radius: 20px;
  vertical-align: middle;
}
#navigation #middle-group a:hover {
  background-color: rgba(209, 214, 201, 0.5);
}
#navigation #end-group {
  background-color: rgba(209, 214, 201, 0.3);
  padding: 8px 10px 8px 10px;
  border-radius: 20px;
  position: absolute;
  right: 1%;
  width: 4%;
  display: flex;
  justify-content: center;
}
#navigation #end-group:hover {
  background-color: rgba(209, 214, 201, 0.5);
}
#navigation #end-group .bi-gear {
  color: white;
}
#navigation #nav-seperation-line {
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid white;
}

.home-nav-btn {
  color: white;
}

.map-nav-btn {
  color: white;
}

/***************Home Styles***************/
:root {
  --site-text-color: white;
  --home-background-color: black;
  --home-canvas-border-color: white;
  --color-0: black;
  --color-1: black;
  --color-2: black;
  --color-3: black;
  --color-4: black;
  --color-5: black;
  --color-6: black;
  --color-7: black;
  --color-8: black;
  --color-9: black;
  --color-10: black;
  --color-11: black;
  --color-12: black;
}

.scroll-snap {
  scroll-snap-align: center;
}

#home {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

#landing {
  height: 100vh;
}

#landing-background {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  /*background-image: radial-gradient(18% 28% at 24% 50%,var(--color-0) 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, var(--color-1) 6%, #073AFF00 100%), radial-gradient(70% 53% at 36% 76%, var(--color-2) 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, var(--color-3)7%, #073AFF00 100%), radial-gradient(42% 53% at 34% 72%, var(--color-4) 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, var(--color-5) 7%, #073AFF00 100%), radial-gradient(31% 43% at 7% 98%, var(--color-7) 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, var(--color-8) 24%, #073AFF00 100%), radial-gradient(35% 56% at 91% 74%, var(--color-9) 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, var(--color-10) 24%, #073AFF00 100%), linear-gradient(125deg, var(--color-11) 1%, var(--color-12) 100%);    animation: forward 5s background-animation;*/ /*background-color: var(--color-0);*/
  /* background-color: var(--color-0);*/
  /* animation: infinite alternate 15s background-animation;*/
  background-image: var(--home-background-color);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: flex;
  align-items: center;
}

@keyframes background-animation {
  0% {
    background-color: var(--color-1);
  }
  16% {
    background-color: var(--color-2);
  }
  24% {
    background-color: var(--color-3);
  }
  32% {
    background-color: var(--color-4);
  }
  40% {
    background-color: var(--color-5);
  }
  48% {
    background-color: var(--color-6);
  }
  56% {
    background-color: var(--color-7);
  }
  64% {
    background-color: var(--color-8);
  }
  72% {
    background-color: var(--color-9);
  }
  80% {
    background-color: var(--color-10);
  }
  88% {
    background-color: var(--color-11);
  }
  100% {
    background-color: var(--color-12);
  }
}
#home-canvas {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 70%;
}

#home-image {
  width: 50%;
}
#home-image #top-song-heading {
  margin-top: 10%;
  font-size: 2.5rem;
  text-align: center;
}

.home-intro {
  display: grid;
  align-content: center;
  min-height: 100%;
}

#home-gradient {
  width: 90%;
  margin-left: 5%;
  border-radius: 1%;
  z-index: -1;
}

#home-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

#greeting-background {
  position: absolute;
  height: 90%;
  width: 50%;
  left: 0;
  top: 10%;
  border-radius: 10px;
  z-index: -1;
  /*background-image: linear-gradient(red, transparent, transparent);*/
}

#home-greeting {
  width: 50%;
  /* background-clip: text;
   color: transparent;*/
}
#home-greeting .greeting-heading {
  font-size: 3rem;
}

#songs-section {
  min-height: 100vh;
  background-color: white;
  color: white;
}

#song-table {
  color: black;
  margin-top: 4rem;
}
#song-table tbody {
  vertical-align: middle;
}
#song-table tbody th, #song-table tbody td {
  padding: 0;
  padding-top: 0.5rem;
  font-size: 18px;
  text-align: center;
}
#song-table tr {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: none;
  background-color: white;
}
#song-table thead tr {
  font-size: 20px;
  text-align: center;
}

.card {
  margin-right: 23rem;
}

#song-card-container {
  overflow-x: scroll;
  padding-bottom: 2rem;
  min-height: 66vh;
}

#song-heading {
  margin: 6rem 0 1rem 0;
}

.song-image {
  width: 65%;
}

#center-intersection {
  position: absolute;
  top: 0;
  left: 33.33%;
  height: 100%;
}

#top-track-podium {
  min-height: 100vh;
  width: 100vw;
  color: white;
  margin: 0;
}
#top-track-podium h1 {
  font-size: 3rem;
}
#top-track-podium .song-rank {
  margin-bottom: 3rem;
}
#top-track-podium .song-name {
  font-size: 3rem;
}

#artist-heading {
  margin: 6rem 0 1rem 0;
}

#top-artist-podium {
  color: white;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
#top-artist-podium #artist-align {
  width: 100%;
}
#top-artist-podium h1 {
  font-size: 3rem;
}
#top-artist-podium .artist-name {
  margin-bottom: 0;
}
#top-artist-podium .artist-rank {
  margin-bottom: 3rem;
}
#top-artist-podium .song-name {
  font-size: 3rem;
}

.flippable {
  /* This container is needed to position the front and back side */
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /*.flip-card .flip-card-inner {
      transform: rotateY(180deg);
  }*/
  /* Position the front and back side */
  /* Style the front side (fallback if image is missing) */
  /* Style the back side */
}
.flippable .flip-card {
  background-color: transparent;
  width: 90%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flippable .secondary-flip-card {
  background-color: transparent;
  width: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flippable .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flippable .flip-card-front, .flippable .flip-card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flippable .flip-card-front {
  background-color: transparent;
  color: white;
}
.flippable .flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  background-image: none;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  transform: rotateY(180deg);
  display: block;
  background-color: black;
  padding: 5%;
  border-radius: 5%;
  overflow-y: scroll;
}

.flip-card-front {
  position: relative;
}

.enlargen-card {
  animation: scale-card 0.25s ease-in forwards;
}

@keyframes scale-card {
  from {
    width: 65%;
  }
  to {
    width: 100%;
  }
}
.reduce-card {
  animation: descale-card 0.5s ease-in forwards;
}

@keyframes descale-card {
  from {
    width: 82%;
  }
  to {
    width: 65%;
  }
}
.track-description {
  display: none;
}

.flip-card-btn {
  background-color: transparent;
  border: none;
}

.artist-image {
  width: 65%;
}

#artist-card-container {
  overflow-x: scroll;
  padding-bottom: 2rem;
  padding-top: 2rem;
  min-height: 66vh;
}

/***************Playlist styles***********/
/*Change Nav bar*/
#playlist-header {
  position: relative;
}
#playlist-header #playlist-nav {
  height: 5vh;
  background-color: #011621;
}
#playlist-header #playlist-nav #playlist-nav-container {
  height: 100%;
  border-bottom: solid 3px black;
}
#playlist-header #playlist-nav #playlist-nav-container #links {
  position: absolute;
  right: 0;
  align-items: center;
  color: white;
}

#library-search {
  color: white;
  background-color: transparent;
  border: none;
}

#playlist-populate {
  height: 61vh;
  background-color: #011621;
  border: solid black 3px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
#playlist-populate .heading {
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
}

#playlists {
  flex: 11 auto;
  overflow-y: auto;
}

.playlist-btn {
  color: white;
  text-decoration: none;
}
.playlist-btn:hover {
  color: white;
}

.playlist {
  display: flex;
  align-items: center;
  background-color: rgb(1, 18, 28);
  margin-bottom: 1%;
  padding: 3%;
  border-radius: 15px;
}

#playlist-view-one {
  height: 61vh;
  border: solid black 3px;
  border-radius: 15px;
  background-color: #011621;
  position: relative;
  padding: 0px;
}
#playlist-view-one #area-one-default-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
#playlist-view-one #playlist-view-body {
  height: 50%;
  width: 100%;
}
#playlist-view-one #playlist-view-body #playlist-tracks {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 1rem 1rem 1rem;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
}
#playlist-view-one #playlist-view-body #playlist-heading {
  position: relative;
  z-index: 2;
}
#playlist-view-one #playlist-tracks {
  height: 50%;
  width: 100%;
  overflow: scroll;
  display: none;
  padding: 0 1rem 1rem 1rem;
  position: relative;
  z-index: 2;
}
#playlist-view-one #playlist-image {
  width: 15%;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
#playlist-view-one #playlist-color-canvas {
  width: 64px;
  height: 64px;
}
#playlist-view-one #playlist-background {
  position: absolute;
  width: 100%;
  height: 0%;
  z-index: 1;
  border-radius: 15px;
}
#playlist-view-one #playlist-description {
  display: flex;
  margin: auto 0 auto 1%;
  flex-direction: column;
  text-align: left;
}
#playlist-view-one #playlist-description #playlist-title {
  font-size: 3rem;
  font-weight: bold;
}
#playlist-view-one #playlist-description #plalist-stats {
  margin-top: 1rem;
}

#playlist-view-two-and-three {
  height: 33vh;
  background-color: black;
  border: solid black 3px;
  border-radius: 15px;
}
#playlist-view-two-and-three #playlist-view-two {
  background-color: #011621;
  border-right: solid black 3px;
  border-top: solid black 3px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
#playlist-view-two-and-three #playlist-view-two #playlist-view-two-container {
  height: 100%;
  width: 98%;
  align-items: center;
  justify-content: center;
}
#playlist-view-two-and-three #playlist-view-two #playlist-view-two-container #area-two-default-text {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#playlist-view-two-and-three #playlist-view-two #playlist-view-two-container #view-heading {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
#playlist-view-two-and-three #playlist-view-two #playlist-view-two-container #view-heading #view-heading-text {
  margin: 0rem 0 0rem 1rem;
}
#playlist-view-two-and-three #playlist-view-two #playlist-view-two-container #playlist-statistics {
  display: none;
  width: 100%;
  height: 100%;
}
#playlist-view-two-and-three #playlist-view-two #playlist-view-two-container #edit-playlist-form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
#playlist-view-two-and-three #playlist-view-two #playlist-view-two-container #edit-playlist-form #playlist-image-background {
  background-color: black;
  height: 80%;
  width: 35%;
}
#playlist-view-two-and-three #playlist-view-two #playlist-view-two-container #edit-playlist-form #playlist-image-background #playlist-image {
  width: 100%;
  height: 100%;
}
#playlist-view-two-and-three #playlist-view-two #playlist-view-two-container #edit-playlist-form #input-container {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
#playlist-view-two-and-three #playlist-view-two #playlist-view-two-container #edit-playlist-form #input-container #playlist-name-input {
  border-radius: 15px;
  border: solid white 2px;
  margin-bottom: 1rem;
  background-color: black;
  color: white;
  padding: 0.5rem;
}
#playlist-view-two-and-three #playlist-view-two #playlist-view-two-container #edit-playlist-form #input-container #playlist-description-input {
  border-radius: 15px;
  border: solid white 2px;
  background-color: black;
  color: white;
  padding: 0.5rem;
}
#playlist-view-two-and-three #playlist-view-two #playlist-view-two-container #edit-description-form #description-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#playlist-view-two-and-three #playlist-view-three {
  background-color: #011621;
  border-left: solid black 3px;
  border-top: solid black 3px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

#playlist-search {
  width: 30%;
  height: 15%;
  background-color: black;
  border: white solid 2px;
  border-radius: 10px;
  color: white;
  position: absolute;
  left: 65%;
  margin-top: 1%;
  padding-left: 0.5rem;
  display: none;
}

#library-search-input {
  display: none;
  width: 50%;
  height: 75%;
  border: solid white 2px;
  border-radius: 15px;
  background-color: black;
  padding-left: 0.5rem;
  color: white;
}

::placeholder {
  color: white;
  margin-left: 3%;
}

#playlist-table {
  color: white;
  padding: 2%;
  vertical-align: middle;
}
#playlist-table #table-head {
  background: rgba(1, 22, 33, 0.8);
  position: sticky;
  top: 0;
}

/***************Variable Styles***********/
:root {
  --site-text-color: white;
  --home-background-color: black;
  --home-canvas-border-color: white;
  --color-0: black;
  --color-1: black;
  --color-2: black;
  --color-3: black;
  --color-4: black;
  --color-5: black;
  --color-6: black;
  --color-7: black;
  --color-8: black;
  --color-9: black;
  --color-10: black;
  --color-11: black;
  --color-12: black;
}

/*# sourceMappingURL=styles.css.map */
