/*Marvel Is Better Than DC*/
:root {
  --site-text-color: white;
  --home-background-color: black;
  --home-canvas-border-color: white;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  background-color: black;
  color: var(--site-text-color);
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Times New Roman", Times, serif;
}
body p {
  margin: 0;
}
body ::-webkit-scrollbar {
  display: none;
}

header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

#navigation {
  height: 4rem;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: white solid 0.5px;
}
#navigation svg {
  fill: white;
}
#navigation #start-group {
  color: white;
  border-radius: 20px;
  vertical-align: middle;
  align-items: center;
}
#navigation #middle-group {
  background-color: rgba(209, 214, 201, 0.3);
  border-radius: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
#navigation #middle-group a {
  text-decoration: none;
  color: white;
  border-radius: 20px;
  vertical-align: middle;
}
#navigation #middle-group a:hover {
  background-color: rgba(209, 214, 201, 0.5);
}
#navigation #end-group {
  background-color: rgba(209, 214, 201, 0.3);
  padding: 10px;
  border-radius: 20px;
}
#navigation #end-group:hover {
  background-color: rgba(209, 214, 201, 0.5);
}

/***************Home Styles***************/
:root {
  --site-text-color: white;
  --home-background-color: black;
  --home-canvas-border-color: white;
}

.scroll-snap {
  scroll-snap-align: center;
}

#home {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

#landing {
  height: 100vh;
}

#landing-background {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: var(--home-background-color);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: flex;
  align-items: center;
}

#home-canvas {
  margin-top: 10%;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 70%;
}

#home-image {
  width: 50%;
}

.home-intro {
  display: grid;
  align-content: center;
  min-height: 100%;
}

#home-gradient {
  width: 90%;
  margin-left: 5%;
  border-radius: 1%;
  z-index: -1;
}

#home-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

#greeting-background {
  position: absolute;
  height: 90%;
  width: 50%;
  left: 0;
  top: 10%;
  border-radius: 10px;
  z-index: -1;
  /*background-image: linear-gradient(red, transparent, transparent);*/
}

#home-greeting {
  width: 50%;
  /* background-clip: text;
   color: transparent;*/
}
#home-greeting .greeting-heading {
  font-size: 3rem;
}

#songs-section {
  min-height: 100vh;
  background-color: white;
  color: white;
}

#song-table {
  color: black;
  margin-top: 4rem;
}
#song-table tbody {
  vertical-align: middle;
}
#song-table tbody th, #song-table tbody td {
  padding: 0;
  padding-top: 0.5rem;
  font-size: 18px;
  text-align: center;
}
#song-table tr {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: none;
  background-color: white;
}
#song-table thead tr {
  font-size: 20px;
  text-align: center;
}

.card {
  margin-right: 23rem;
}

#card-container {
  overflow-x: scroll;
  padding-bottom: 2rem;
  padding-top: 2rem;
  min-height: 65%;
}

#song-heading {
  margin: 6rem 0 1rem 0;
}

.song-image {
  width: 65%;
}

#center-intersection {
  position: absolute;
  top: 0;
  left: 33.33%;
  height: 100%;
}

#top-track-podium {
  min-height: 100vh;
  color: white;
}
#top-track-podium h1 {
  font-size: 3rem;
}

#artist-heading {
  margin: 6rem 0 1rem 0;
}

#top-artist-podium {
  background-color: black;
  color: white;
  height: 100vh;
}
#top-artist-podium #artist-align {
  width: 100%;
}
#top-artist-podium h1 {
  font-size: 3rem;
}
#top-artist-podium #top-artist-one {
  width: 99%;
}
#top-artist-podium #top-artist-two {
  width: 60%;
}
#top-artist-podium #top-artist-three {
  width: 60%;
}

.flippable {
  /* This container is needed to position the front and back side */
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* Position the front and back side */
  /* Style the front side (fallback if image is missing) */
  /* Style the back side */
}
.flippable .flip-card {
  background-color: transparent;
  width: 90%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flippable .secondary-flip-card {
  background-color: transparent;
  width: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flippable .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flippable .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flippable .flip-card-front, .flippable .flip-card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flippable .flip-card-front {
  background-color: transparent;
  color: white;
}
.flippable .flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  display: block;
}

.flip-card-back {
  display: none;
}

.flip-card-front {
  position: relative;
}

.enlargen-card {
  animation: scale-card 0.25s ease-in forwards;
}

@keyframes scale-card {
  from {
    width: 65%;
  }
  to {
    width: 100%;
  }
}
.reduce-card {
  animation: descale-card 0.5s ease-in forwards;
}

@keyframes descale-card {
  from {
    width: 82%;
  }
  to {
    width: 65%;
  }
}
.track-description {
  display: none;
}

.flip-card-btn {
  width: 10%;
  height: 10%;
  background-color: black;
  position: absolute;
  bottom: 0;
  right: 5px;
}
.flip-card-btn .bi-arrow-clockwise {
  color: white;
}

/***************Variable Styles***********/
:root {
  --site-text-color: white;
  --home-background-color: black;
  --home-canvas-border-color: white;
}

/*# sourceMappingURL=styles.css.map */
