@import '../variables/vars.scss';

.scroll-snap {
    scroll-snap-align: center;
}

#home {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

#landing {
    height: 100vh;
}

#landing-background {
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: var(--home-background-color);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: flex;
    align-items: center;
}

#home-canvas {
    margin-top: 10%;
    justify-content: center;
    display: flex;
    align-items: center;
    border: solid 1px var(--home-canvas-border-color);
    width: 70%;
}

#home-image {
    width: 50%;
}

.home-intro {
    display: grid;
    align-content: center;
    min-height: 100%;
}

#home-gradient {
    width: 90%;
    margin-left: 5%;
    border-radius: 1%;
    z-index: -1;
}

#home-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

#greeting-background {
    position: absolute;
    height: 90%;
    width: 50%;
    left: 0;
    top: 10%;
    border-radius: 10px;
    z-index: -1;
}

#home-greeting {
    width: 50%;

    & p:first-of-type {
        font-size: 3rem;
    }
   //for text gradients. not being used right now.
   /* background-clip: text;
    color: transparent;*/
}

#top-track-podium {
    color: black;
    height: 100vh;

    & h1 {
        font-size: 3rem;
    }

    .spot-1{
        transform: scale(.9);
    }

    & #top-song-one {
        width: 99%;
    }

    & #top-song-two {
        width: 60%;
      
    }

    & #top-song-three {
        width: 60%;
       
    }
}