html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #000;
    color: white;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body p {
    margin: 0;
}

    body::-webkit-scrollbar{
        display: none;
    }

#navigation {
    border-bottom: solid .15rem white;
}

#home-canvas {
    justify-content: center;
    display: flex;
    align-items: center;
}

.home-intro {
    display: grid;
    align-content: center;
    min-height: 100vh;
}

#home-gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}