html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #000;
    color: white;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body p {
    margin: 0;
}

    body::-webkit-scrollbar{
        display: none;
    }

#navigation {
    border-bottom: solid .15rem white;
}

#home-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    justify-content: center;
    display: flex;
}

.home-intro {
    display: grid;
    align-content: center;
    min-height: 100vh;
}