
@{
   Layout = "~/Views/Shared/Shared_layout.cshtml";
}


<div id="home" class="">
    <section id="landing" class="scroll-snap d-flex align-items-center justify-content-center">
        <div id="landing-background">
            <div id="home-gradient" class="d-flex">
                <div class="row position-relative">
                    <div id="greeting-background"></div>
                    <div id="home-greeting" class="text-start align-items-center my-auto ms-5 col">
                        <div class="greeting-heading">
                            <p>Welcome to Satus, </p>
                            <p><span id="username">null</span></p>
                        </div>                      
                        <p class="fs-5">From rock to pop, jazz to country, music is for everyone. Its a beautiful expression of who you are. Lets explore what music expresses your one-of-a-kind personality.</p>
                    </div>
                    <div class="my-auto me-3" id="home-image">
                        <canvas id="home-canvas" class="d-flex mx-auto"></canvas>
                        <canvas id="home-color-canvas" class="d-none"></canvas>

                        <div class="fs-1 p-3 col image-description">
                            <p id="top-track-name" class="fs-2 text-center">null</p>
                            <p id="top-track-artist-name" class="fs-2 text-center">null</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* <section id="top-track-podium" class="scroll-snap d-flex align-items-center row">
        <h1 class="text-center col-12 mt-5">Your Top Songs</h1>
        <div class="spot-2 d-flex align-items-center">
            <div class="col4 text-center">
                <canvas id="top-song-two" class="d-flex mx-auto"></canvas>
                <canvas id="top-song-two-color-canvas" class="d-none"></canvas>
                <div class="fs-1 p-3 col track-description">
                    <p id="top-song-two-name" class="fs-2">null</p>
                    <p id="top-song-two-artist-name" class="fs-2">null</p>
                </div>           
            </div>
            <div class="spot-1 col-4 text-center">              
                <canvas id="top-song-one" class="d-flex mx-auto"></canvas>
                <canvas id="top-song-one-color-canvas" class="d-none"></canvas>
                <div class="fs-1 p-3 col track-description">
                    <p id="top-song-one-name" class="fs-2">null</p>
                    <p id="top-song-one-artist-name" class="fs-2">null</p>
                </div>
            </div>
            <div class="spot-3 col-4 text-center">                        
                <canvas id="top-song-three" class="d-flex mx-auto"></canvas>
                <canvas id="top-song-three-color-canvas" class="d-none"></canvas>
                <div class="fs-1 p-3 col track-description">
                    <p id="top-song-three-name" class="fs-2">null</p>
                    <p id="top-song-three-artist-name" class="fs-2">null</p>
                </div>           
            </div>       
        </div>
    </section> *@
    <section id="songs-section" class="scroll-snap">
       <div class="table-responsive">
            <table class="table" id="song-table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Song</th>
                        <th scope="col">popularity (out of 100)</th>
                        <th scope="col">Cover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="background1">
                        <th scope="row">1</th>
                        <td id="artist1">null</td>
                        <td id="song1">null</td>
                        <td id="popularity1">null</td>
                        <td><canvas id="cover1">null</canvas></td>
                    </tr>
                    <tr id="background2">
                        <th scope="row">2</th>
                        <td id="artist2">null</td>
                        <td id="song2">null</td>
                        <td id="popularity2">null</td>
                        <td><canvas id="cover2">null</canvas></td>
                    </tr>
                    <tr id="background3">
                        <th scope="row">3</th>
                        <td id="artist3">null</td>
                        <td id="song3">null</td>
                        <td id="popularity3">null</td>
                        <td><canvas id="cover3">null</canvas></td>
                    </tr>
                    <tr id="background4">
                        <th scope="row">4</th>
                        <td id="artist4">null</td>
                        <td id="song4">null</td>
                        <td id="popularity4">null</td>
                        <td><canvas id="cover4">null</canvas></td>
                    </tr>
                    <tr id="background5">
                        <th scope="row">5</th>
                        <td id="artist5">null</td>
                        <td id="song5">null</td>
                        <td id="popularity5">null</td>
                        <td><canvas id="cover5">null</canvas></td>
                    </tr>
                    <tr id="background6">
                        <th scope="row">6</th>
                        <td id="artist6">null</td>
                        <td id="song6">null</td>
                        <td id="popularity6">null</td>
                        <td><canvas id="cover6">null</canvas></td>
                    </tr>
                    <tr id="background7">
                        <th scope="row">7</th>
                        <td id="artist7">null</td>
                        <td id="song7">null</td>
                        <td id="popularity7">null</td>
                        <td><canvas id="cover7">null</canvas></td>
                    </tr>
                    <tr id="background8">
                        <th scope="row">8</th>
                        <td id="artist8">null</td>
                        <td id="song8">null</td>
                        <td id="popularity8">null</td>
                        <td><canvas id="cover8">null</canvas></td>
                    </tr>
                    <tr id="background9">
                        <th scope="row">9</th>
                        <td id="artist9">null</td>
                        <td id="song9">null</td>
                        <td id="popularity9">null</td>
                        <td><canvas id="cover9">null</canvas></td>
                    </tr>
                    <tr id="background10">
                        <th scope="row">10</th>
                        <td id="artist10">null</td>
                        <td id="song10">null</td>
                        <td id="popularity10">null</td>
                        <td><canvas id="cover10">null</canvas></td>
                    </tr>
                    @* <tr id="background11">
                    <th scope="row">11</th>
                    <td id="artist11">null</td>
                    <td id="song11">null</td>
                    <td id="popularity11">null</td>
                    </tr>
                    <tr id="background12">
                    <th scope="row">12</th>
                    <td id="artist12">null</td>
                    <td id="song12">null</td>
                    <td id="popularity12">null</td>
                    </tr>
                    <tr id="background13">
                    <th scope="row">13</th>
                    <td id="artist13">null</td>
                    <td id="song13">null</td>
                    <td id="popularity13">null</td>
                    </tr>
                    <tr id="background14">
                    <th scope="row">14</th>
                    <td id="artist14">null</td>
                    <td id="song14">null</td>
                    <td id="popularity14">null</td>
                    </tr>
                    <tr id="background15">
                    <th scope="row">15</th>
                    <td id="artist15">null</td>
                    <td id="song15">null</td>
                    <td id="popularity15">null</td>
                    </tr>
                    <tr id="background16">
                    <th scope="row">16</th>
                    <td id="artist16">null</td>
                    <td id="song16">null</td>
                    <td id="popularity16">null</td>
                    </tr>
                    <tr id="background17">
                    <th scope="row">17</th>
                    <td id="artist17">null</td>
                    <td id="song17">null</td>
                    <td id="popularity17">null</td>
                    </tr>
                    <tr id="background18">
                    <th scope="row">18</th>
                    <td id="artist18">null</td>
                    <td id="song18">null</td>
                    <td id="popularity18">null</td>
                    </tr>
                    <tr id="background19">
                    <th scope="row">19</th>
                    <td id="artist19">null</td>
                    <td id="song19">null</td>
                    <td id="popularity19">null</td>
                    </tr>
                    <tr id="background20">
                    <th scope="row">20</th>
                    <td id="artist20">null</td>
                    <td id="song20">null</td>
                    <td id="popularity20">null</td>
                    </tr> *@

                </tbody>
            </table>
       </div>
    </section>
    

    <section id="top-artist-podium" class="scroll-snap d-flex align-items-center">
        <div id="artist-align" class="row d-flex">
            <h1 class="text-center col-12 mt-5">Your Top Artists</h1>
            <div class="spot-2 d-flex align-items-center">
                <div class="col-4 text-center">
                    <canvas id="top-artist-two" class="d-flex mx-auto"></canvas>
                    <canvas id="top-artist-two-color-canvas" class="d-none"></canvas>
                    <div class="artist-description fs-1 p-3 col">
                        <p id="top-artist-two-name" class="fs-2">null</p>
                    </div>
                </div>
                <div class="spot-1 col-4 text-center">
                    <canvas id="top-artist-one" class="d-flex mx-auto"></canvas>
                    <canvas id="top-artist-one-color-canvas" class="d-none"></canvas>
                    <div class="artist-description fs-1 p-3 col">
                        <p id="top-artist-one-name" class="fs-2">null</p>
                    </div>
                </div>
                <div class="spot-3 col-4 text-center">
                    <canvas id="top-artist-three" class="d-flex mx-auto"></canvas>
                    <canvas id="top-artist-three-color-canvas" class="d-none"></canvas>
                    <div class="artist-description fs-1 p-3 col">
                        <p id="top-artist-three-name" class="fs-2">null</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
