
@{
    Layout = "~/Views/Shared/Shared_layout.cshtml";
}



<section>
    

    <div class="row">
        <div class="col-12">
            <div id="image-accent-1 position-absolute z-n1"></div>
            <div id="image-accent-2 position-absolute z-n1"></div>
            <div id="image-accent-3 position-absolute z-n1"></div>
            <div class="position-absolute start-0 z-1" style="top:30%;">
                <h1>Welcome to Satus <span id="displayName"></span></h1>
            </div>
			<div id="home-img" style="background-image: url()" class="m-auto"></div>
        </div>
		
    </div>
    

</section>