
@{
   Layout = "~/Views/Shared/Shared_layout.cshtml";
}

@section Scripts {
    <script src="~/js/compiledts/Home/home.js" type="module"> </script>
}


<div id="home" class="">
    <section id="landing" class="scroll-snap d-flex align-items-center justify-content-center">
        <div id="landing-background">
            <div id="home-gradient" class="d-flex">
                <div class="row position-relative">
                    <div id="greeting-background"></div>
                    <div id="home-greeting" class="text-start align-items-center my-auto ms-5 col">
                        <div class="greeting-heading">
                            <p>Welcome to Satus, </p>
                            <p><span id="username">null</span></p>
                        </div>                      
                        <p class="fs-5">From rock to pop, jazz to country, music is for everyone. Its a beautiful expression of who you are. Lets explore what music expresses your one-of-a-kind personality.</p>
                    </div>
                    <div class="my-auto me-3" id="home-image">
                        <canvas id="home-canvas" class="d-flex mx-auto"></canvas>
                        <canvas id="home-color-canvas" class="d-none"></canvas>

                        <div class="fs-1 p-3 col image-description">
                            <p id="top-track-name" class="fs-2 text-center">null</p>
                            <p id="top-track-artist-name" class="fs-2 text-center">null</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="top-track-podium" class="scroll-snap d-flex align-items-center row">
        <h1 class="text-center" id="song-heading">Your Top Songs</h1>
        <div class="d-flex align-items-center" id="song-card-container">
            <div class="start col-4">

            </div>
            <div class="spot-1 col-4 text-center justify-content-center flippable">
                <div class="flip-card" id="card-1">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <canvas id="top-song-1" class="d-flex mx-auto song-image"></canvas>
                            <canvas id="top-song-1-color-canvas" class="d-none"></canvas>
                          
                        </div>
                        <div class="flip-card-back">
                            <div id="spot-1-stats">
                                <p class="song-name"></p>
                                <p class="artist-name"></p>
                                <p class="mt-3">Danceability</p>
                                <div id="dance" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Energy</p>
                                <div id="energy" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Instrumentalness</p>
                                <div id="instrumentals" class="progress mt-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spot-2 col-4 text-center justify-content-center flippable">
                <div class="flip-card" id="card-2">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <canvas id="top-song-2" class="d-flex mx-auto song-image"></canvas>
                            <canvas id="top-song-2-color-canvas" class="d-none"></canvas>
                          
                        </div>
                        <div class="flip-card-back">
                            <div id="spot-2-stats">
                                <p class="song-name"></p>
                                <p class="artist-name"></p>
                                <p class="mt-3">Danceability</p>
                                <div id="dance" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Energy</p>
                                <div id="energy" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Instrumentalness</p>
                                <div id="instrumentals" class="progress mt-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spot-3 col-4 text-center justify-content-center flippable">
                <div class="flip-card" id="card-3">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <canvas id="top-song-3" class="d-flex mx-auto  song-image"></canvas>
                            <canvas id="top-song-3-color-canvas" class="d-none"></canvas>
                           
                        </div>
                        <div class="flip-card-back">
                            <div id="spot-3-stats">
                                <p class="song-name"></p>
                                <p class="artist-name"></p>
                                <p class="mt-3">Danceability</p>
                                <div id="dance" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Energy</p>
                                <div id="energy" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Instrumentalness</p>
                                <div id="instrumentals" class="progress mt-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spot-4 col-4 text-center justify-content-center flippable">
                <div class="flip-card" id="card-4">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <canvas id="top-song-4" class="d-flex mx-auto song-image"></canvas>
                            <canvas id="top-song-4-color-canvas" class="d-none"></canvas>
                           
                        </div>
                        <div class="flip-card-back">
                            <div id="spot-4-stats">
                                <p class="song-name"></p>
                                <p class="artist-name"></p>
                                <p class="mt-3">Danceability</p>
                                <div id="dance" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Energy</p>
                                <div id="energy" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Instrumentalness</p>
                                <div id="instrumentals" class="progress mt-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spot-5 col-4 text-center justify-content-center flippable">
                <div class="flip-card" id="card-5">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <canvas id="top-song-5" class="d-flex mx-auto song-image"></canvas>
                            <canvas id="top-song-5-color-canvas" class="d-none"></canvas>
                           
                        </div>
                        <div class="flip-card-back">
                            <div id="spot-5-stats">
                                <p class="song-name"></p>
                                <p class="artist-name"></p>
                                <p class="mt-3">Danceability</p>
                                <div id="dance" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Energy</p>
                                <div id="energy" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Instrumentalness</p>
                                <div id="instrumentals" class="progress mt-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spot-6 col-4 text-center justify-content-center flippable">
                <div class="flip-card" id="card-6">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <canvas id="top-song-6" class="d-flex mx-auto song-image"></canvas>
                            <canvas id="top-song-6-color-canvas" class="d-none"></canvas>
                            
                        </div>
                        <div class="flip-card-back">
                            <div id="spot-6-stats">
                                <p class="song-name"></p>
                                <p class="artist-name"></p>
                                <p class="mt-3">Danceability</p>
                                <div id="dance" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Energy</p>
                                <div id="energy" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Instrumentalness</p>
                                <div id="instrumentals" class="progress mt-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spot-7 col-4 text-center justify-content-center flippable">
                <div class="flip-card" id="card-7">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <canvas id="top-song-7" class="d-flex mx-auto song-image"></canvas>
                            <canvas id="top-song-7-color-canvas" class="d-none"></canvas>
                           
                        </div>
                        <div class="flip-card-back">
                            <div id="spot-7-stats">
                                <p class="song-name"></p>
                                <p class="artist-name"></p>
                                <p class="mt-3">Danceability</p>
                                <div id="dance" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Energy</p>
                                <div id="energy" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Instrumentalness</p>
                                <div id="instrumentals" class="progress mt-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spot-8 col-4 text-center justify-content-center flippable">
                <div class="flip-card" id="card-8">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <canvas id="top-song-8" class="d-flex mx-auto song-image"></canvas>
                            <canvas id="top-song-8-color-canvas" class="d-none"></canvas>
                            
                        </div>
                        <div class="flip-card-back">
                            <div id="spot-8-stats">
                                <p class="song-name"></p>
                                <p class="artist-name"></p>
                                <p class="mt-3">Danceability</p>
                                <div id="dance" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Energy</p>
                                <div id="energy" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Instrumentalness</p>
                                <div id="instrumentals" class="progress mt-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spot-9 col-4 text-center justify-content-center flippable">
                <div class="flip-card" id="card-9">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <canvas id="top-song-9" class="d-flex mx-auto song-image"></canvas>
                            <canvas id="top-song-9-color-canvas" class="d-none"></canvas>
                           
                        </div>
                        <div class="flip-card-back">
                            <div id="spot-9-stats">
                                <p class="song-name"></p>
                                <p class="artist-name"></p>
                                <p class="mt-3">Danceability</p>
                                <div id="dance" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Energy</p>
                                <div id="energy" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Instrumentalness</p>
                                <div id="instrumentals" class="progress mt-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spot-10 col-4 text-center justify-content-center flippable">
                <div class="flip-card" id="card-10">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <canvas id="top-song-10" class="d-flex mx-auto song-image"></canvas>
                            <canvas id="top-song-10-color-canvas" class="d-none"></canvas>
                            
                        </div>
                        <div class="flip-card-back">
                            <div id="spot-10-stats">
                                <p class="song-name"></p>
                                <p class="artist-name"></p>
                                <p class="mt-3">Danceability</p>
                                <div id="dance" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Energy</p>
                                <div id="energy" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>

                                <p>Instrumentalness</p>
                                <div id="instrumentals" class="progress mt-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="end col-4">
            </div>
        </div>
    </section>

  @*   Song Table *@
@*     <section id="songs-section" class="scroll-snap">
       <div class="table-responsive">
            <table class="table" id="song-table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Song</th>
                        <th scope="col">popularity (out of 100)</th>
                        <th scope="col">Cover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="background1">
                        <th scope="row">1</th>
                        <td id="artist1">null</td>
                        <td id="song1">null</td>
                        <td id="popularity1">null</td>
                        <td><canvas id="cover1">null</canvas></td>
                    </tr>
                    <tr id="background2">
                        <th scope="row">2</th>
                        <td id="artist2">null</td>
                        <td id="song2">null</td>
                        <td id="popularity2">null</td>
                        <td><canvas id="cover2">null</canvas></td>
                    </tr>
                    <tr id="background3">
                        <th scope="row">3</th>
                        <td id="artist3">null</td>
                        <td id="song3">null</td>
                        <td id="popularity3">null</td>
                        <td><canvas id="cover3">null</canvas></td>
                    </tr>
                    <tr id="background4">
                        <th scope="row">4</th>
                        <td id="artist4">null</td>
                        <td id="song4">null</td>
                        <td id="popularity4">null</td>
                        <td><canvas id="cover4">null</canvas></td>
                    </tr>
                    <tr id="background5">
                        <th scope="row">5</th>
                        <td id="artist5">null</td>
                        <td id="song5">null</td>
                        <td id="popularity5">null</td>
                        <td><canvas id="cover5">null</canvas></td>
                    </tr>
                    <tr id="background6">
                        <th scope="row">6</th>
                        <td id="artist6">null</td>
                        <td id="song6">null</td>
                        <td id="popularity6">null</td>
                        <td><canvas id="cover6">null</canvas></td>
                    </tr>
                    <tr id="background7">
                        <th scope="row">7</th>
                        <td id="artist7">null</td>
                        <td id="song7">null</td>
                        <td id="popularity7">null</td>
                        <td><canvas id="cover7">null</canvas></td>
                    </tr>
                    <tr id="background8">
                        <th scope="row">8</th>
                        <td id="artist8">null</td>
                        <td id="song8">null</td>
                        <td id="popularity8">null</td>
                        <td><canvas id="cover8">null</canvas></td>
                    </tr>
                    <tr id="background9">
                        <th scope="row">9</th>
                        <td id="artist9">null</td>
                        <td id="song9">null</td>
                        <td id="popularity9">null</td>
                        <td><canvas id="cover9">null</canvas></td>
                    </tr>
                    <tr id="background10">
                        <th scope="row">10</th>
                        <td id="artist10">null</td>
                        <td id="song10">null</td>
                        <td id="popularity10">null</td>
                        <td><canvas id="cover10">null</canvas></td>
                    </tr>
                    <tr id="background11">
                        <th scope="row">11</th>
                        <td id="artist11">null</td>
                        <td id="song11">null</td>
                    <td id="popularity11">null</td>
                    </tr>
                    <tr id="background12">
                        <th scope="row">12</th>
                        <td id="artist12">null</td>
                        <td id="song12">null</td>
                        <td id="popularity12">null</td>
                    </tr>
                    <tr id="background13">
                        <th scope="row">13</th>
                        <td id="artist13">null</td>
                        <td id="song13">null</td>
                        <td id="popularity13">null</td>
                    </tr>
                    <tr id="background14">
                        <th scope="row">14</th>
                        <td id="artist14">null</td>
                        <td id="song14">null</td>
                        <td id="popularity14">null</td>
                    </tr>
                    <tr id="background15">
                        <th scope="row">15</th>
                        <td id="artist15">null</td>
                        <td id="song15">null</td>
                        <td id="popularity15">null</td>
                    </tr>
                    <tr id="background16">
                        <th scope="row">16</th>
                        <td id="artist16">null</td>
                        <td id="song16">null</td>
                        <td id="popularity16">null</td>
                    </tr>
                    <tr id="background17">
                        <th scope="row">17</th>
                        <td id="artist17">null</td>
                        <td id="song17">null</td>
                        <td id="popularity17">null</td>
                    </tr>
                    <tr id="background18">
                        <th scope="row">18</th>
                        <td id="artist18">null</td>
                        <td id="song18">null</td>
                        <td id="popularity18">null</td>
                    </tr>
                    <tr id="background19">
                        <th scope="row">19</th>
                        <td id="artist19">null</td>
                        <td id="song19">null</td>
                        <td id="popularity19">null</td>
                    </tr>
                    <tr id="background20">
                        <th scope="row">20</th>
                        <td id="artist20">null</td>
                        <td id="song20">null</td>
                        <td id="popularity20">null</td>
                    </tr> 

                </tbody>
            </table>
       </div>
    </section> *@
    

    <section id="top-artist-podium" class="scroll-snap d-flex align-items-center row">
            <h1 class="text-center" id="artist-heading">Your Top Artists</h1>
            <div class="d-flex align-items-center" id="artist-card-container">
                <div class="start col-4">
                </div>
                <div class="artist-1 col-4 text-center justify-content-center flippable">
                    <div class="flip-card" id="card-1">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <canvas id="top-artist-1" class="d-flex mx-auto artist-image"></canvas>
                                <canvas id="top-artist-1-color-canvas" class="d-none"></canvas>
                               
                            </div>
                            <div class="flip-card-back">
                                <div id="artist-spot-1-stats">
                                <p class="artist-name fs-1"></p>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Followers</p>
                                    <p class="num-followers"></p>
                                </div>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Popularity</p>
                                    <p class="popularity"></p>
                                </div>
                                <div class="d-flex justify-content-between px-5">
                                    <p>genres</p>
                                    <p class="genres"></p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="artist-2 col-4 text-center justify-content-center flippable">
                    <div class="flip-card" id="card-2">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <canvas id="top-artist-2" class="d-flex mx-auto artist-image"></canvas>
                                <canvas id="top-artist-2-color-canvas" class="d-none"></canvas>
                               
                            </div>
                            <div class="flip-card-back">
                                <div id="artist-spot-2-stats">
                                <p class="artist-name fs-1"></p>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Followers</p>
                                    <p class="num-followers"></p>
                                </div>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Popularity</p>
                                    <p class="popularity"></p>
                                </div>
                                <div class="d-flex justify-content-between px-5">
                                    <p>genres</p>
                                    <p class="genres"></p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="artist-3 col-4 text-center justify-content-center flippable">
                    <div class="flip-card" id="card-3">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <canvas id="top-artist-3" class="d-flex mx-auto artist-image"></canvas>
                                <canvas id="top-artist-3-color-canvas" class="d-none"></canvas>
                               
                            </div>
                            <div class="flip-card-back">
                                <div id="artist-spot-3-stats">
                                <p class="artist-name fs-1"></p>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Followers</p>
                                    <p class="num-followers"></p>
                                </div>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Popularity</p>
                                    <p class="popularity"></p>
                                </div>
                                <div class="d-flex justify-content-between px-5">
                                    <p>genres</p>
                                    <p class="genres"></p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="artist-4 col-4 text-center justify-content-center flippable">
                    <div class="flip-card" id="card-3">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <canvas id="top-artist-4" class="d-flex mx-auto artist-image"></canvas>
                                <canvas id="top-artist-4-color-canvas" class="d-none"></canvas>
                               
                            </div>
                            <div class="flip-card-back">
                                <div id="artist-spot-4-stats">
                                <p class="artist-name fs-1"></p>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Followers</p>
                                    <p class="num-followers"></p>
                                </div>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Popularity</p>
                                    <p class="popularity"></p>
                                </div>
                                <div class="d-flex justify-content-between px-5">
                                    <p>genres</p>
                                    <p class="genres"></p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="artist-5 col-4 text-center justify-content-center flippable">
                    <div class="flip-card" id="card-3">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <canvas id="top-artist-5" class="d-flex mx-auto artist-image"></canvas>
                                <canvas id="top-artist-5-color-canvas" class="d-none"></canvas>
                                
                            </div>
                            <div class="flip-card-back">
                                <div id="artist-spot-5-stats">
                                <p class="artist-name fs-1"></p>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Followers</p>
                                    <p class="num-followers"></p>
                                </div>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Popularity</p>
                                    <p class="popularity"></p>
                                </div>
                                <div class="d-flex justify-content-between px-5">
                                    <p>genres</p>
                                    <p class="genres"></p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="artist-6 col-4 text-center justify-content-center flippable">
                    <div class="flip-card" id="card-3">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <canvas id="top-artist-6" class="d-flex mx-auto artist-image"></canvas>
                                <canvas id="top-artist-6-color-canvas" class="d-none"></canvas>
                                
                            </div>
                            <div class="flip-card-back">
                                <div id="artist-spot-6-stats">
                                <p class="artist-name fs-1"></p>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Followers</p>
                                    <p class="num-followers"></p>
                                </div>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Popularity</p>
                                    <p class="popularity"></p>
                                </div>
                                <div class="d-flex justify-content-between px-5">
                                    <p>genres</p>
                                    <p class="genres"></p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="artist-7 col-4 text-center justify-content-center flippable">
                    <div class="flip-card" id="card-3">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <canvas id="top-artist-7" class="d-flex mx-auto artist-image"></canvas>
                                <canvas id="top-artist-7-color-canvas" class="d-none"></canvas>
                               
                            </div>
                            <div class="flip-card-back">
                                <div id="artist-spot-7-stats">
                                <p class="artist-name fs-1"></p>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Followers</p>
                                    <p class="num-followers"></p>
                                </div>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Popularity</p>
                                    <p class="popularity"></p>
                                </div>
                                <div class="d-flex justify-content-between px-5">
                                    <p>genres</p>
                                    <p class="genres"></p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="artist-8 col-4 text-center justify-content-center flippable">
                    <div class="flip-card" id="card-3">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <canvas id="top-artist-8" class="d-flex mx-auto artist-image"></canvas>
                                <canvas id="top-artist-8-color-canvas" class="d-none"></canvas>
                                
                            </div>
                            <div class="flip-card-back">
                                <div id="artist-spot-8-stats">
                                <p class="artist-name fs-1"></p>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Followers</p>
                                    <p class="num-followers"></p>
                                </div>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                    <p>Popularity</p>
                                    <p class="popularity"></p>
                                </div>
                                <div class="d-flex justify-content-between px-5">
                                    <p>genres</p>
                                    <p class="genres"></p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="artist-9 col-4 text-center justify-content-center flippable">
                    <div class="flip-card" id="card-3">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <canvas id="top-artist-9" class="d-flex mx-auto artist-image"></canvas>
                                <canvas id="top-artist-9-color-canvas" class="d-none"></canvas>
                               
                            </div>
                            <div class="flip-card-back">
                                <div id="artist-spot-9-stats">
                                    <p class="artist-name fs-1"></p>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                        <p>Followers</p>
                                        <p class="num-followers"></p>
                                    </div>
                                <div class="d-flex justify-content-between mb-4 px-5">
                                        <p>Popularity</p>
                                        <p class="popularity"></p>
                                    </div>
                                <div class="d-flex justify-content-between px-5">
                                        <p>genres</p>
                                        <p class="genres"></p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="end col-4">
                </div>
            </div>
       
    </section>
</div>
