
@{
   Layout = "~/Views/Shared/Shared_layout.cshtml";
}



<div id="home-background">
    <div id="home-gradient">
        <div class="row">
            <div id="home-greeting" class="text-start align-items-center my-auto ms-5 col">
                <p class="">Welcome to Satus, <span id="username">null</span></p>
                <p class="fs-5">From rock to pop, jazz to country, music is for everyone. A beautiful expression of who you are. lets explore what music expresses you and your one-of-a-kind personality.</p>
            </div>
            <div class="my-auto me-3" id="home-image">
                <canvas id="home-canvas" class="d-flex mx-auto"></canvas>
                <canvas id="home-color-canvas" class="m-auto d-flex justify-content-center d-none"></canvas>

                <div id="image-description" class="fs-1 p-3 col">
                    <p id="top-track-name" class="fs-2 text-center">null</p>
                    <p id="top-track-artist-name" class="fs-2 text-center">null</p>
                </div>
            </div>
        </div>

    </div>
</div>
