@import './variables/vars.scss';

html {
	font-size: 14px;
	position: relative;
	min-height: 100%;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

body {
	background-color: white;
	color: var(--site-text-color);
	overflow-x: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
	font-family: 'Times New Roman', Times, serif;

	& p {
		margin: 0;
	}

	& ::-webkit-scrollbar {
		display: none;
	}
}

header {
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 1;
}

#navigation {
	justify-content: space-between;

	svg {
		fill: var(--site-text-color);
	}

	#middle-group {
		text-align: center;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);

		& a {
			text-decoration: none;
			padding-bottom: .5px;
			border-bottom: 2px solid var(--site-text-color);
			color: var(--site-text-color);
		}
	}
}

